.projectActions {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 24px;
  transition: opacity 0.2s ease;
  opacity: 0;
}

.checkWrapper {
  width: 19px;
  height: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
}

.project_checked {
  .checkWrapper {
    opacity: 1;
  }

  .projectActions {
    opacity: 1;
  }
}

.project_active {
  background-color: var(--selection-color);

  .projectActions {
    opacity: 1;
  }
}

.project {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 910px;
  font-size: 16px;
  height: 70px;
  padding-right: 16px;

  &:hover {
    background-color: var(--selection-color);

    .projectActions {
      opacity: 1;
    }
  }
}

.projectInfo {
  display: flex;
  column-gap: 18px;
}

.projectDetails {
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 2px;
  align-items: flex-start;
}

.projectName {
  color: #FFF;
  font-size: 18px;
  font-weight: 400;
  opacity: 0.9;
}

.projectDate {
  font-size: 12px;
  color: #A5ACB6;
  font-weight: 400;
  margin-top: 2px;
  opacity: 0.8;
}

.projectThumbnail {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 38px;
  width: 38px;
}

.projectThumbnailBackground {
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 4px;
  background-color: #d86aff;
  opacity: 0.15;
}

.projectDivider {
  height: 1px;
  width: 855px;
  background-color: #42424C;
  opacity: 1;
  margin-left: 55px;
  margin-top: 1px;
  margin-bottom: 1px;
}

.splash {
  height: 100%;
}
