.parametersWrapper {
  gap: 10px;
  font-size: 12px;
  padding-top: 10px;
}

.arrowIconWrapper {
  margin-top: -3px;
  padding-right: 5px;
}

.nodeNotSelected {
  display: none;
}

.parameterTitle {
  font-size: 14px;
  height: 25px;
  display: flex;
}

.parameterLabel {
  padding: 7px 0;
  align-content: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-wrap: nowrap;
  color: gray;
  width: 30%;
}

.parameterValue {
  flex: 1;
  
  div, input {
    height: 90%;
    color: var(--font) !important;
    border-color: var(--box-background) !important;
  }

  span {
    padding: 0;
    align-self: center;
  }

  fieldset {
    border-color: var(--box-background) !important;
  }
}

.parameterRow {
  display: flex;
  align-items: flex-start;
  gap: 2px;
}

.indentedBorder {
  border-bottom: 1px solid var(--border-color);
  margin-left: 30%;
  margin-top: 6px;
  margin-bottom: 6px;
}

.descriptionWrapper {
  padding-left: 6px;
  padding-top: 4px;
  align-content: center;
  text-align: right;
}

.descriptionTooltip {
  overflow: scroll;
  max-height: 500px;
  white-space: pre-line;
  border-radius: 6px;
}
